.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Table-header {
  background-color: #ccc;
  color: blue;
  padding: 10px;
  text-align: left;
}
.table-responsive {
  max-height:100px;
}
.collapse1{
  overflow-y:scroll;
  height:200px;}

.GeorgeMichael-Row {
  background-color: plum;
}

.Other-Row {
  background-color: greenyellow;
}

.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }